
#cuerpo {

background-color: #425470;
    min-width: 1250px;
  width:93%;
    margin-left: 50px;
    border-radius: 3px;
    text-align: center;
color: white;
padding-bottom: 10px;
padding-right: 10px;
padding-top:  1px;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3), 0 5px 5px 0 rgba(0, 0, 0, 0.34);
}
.princ {
    float: left;
    transform-style: preserve-3d;
     min-width: 1334px;
  width:93%;
}
.princ ul {
  list-style: none;
}
.princ li {
    display: inline-block;
    margin-right: -.30em;
}
.princ a {
    font-family: cursive;
    background-color: #6880a6;
    color: #ffffff;
    display: block;
    font: bold 1em/3 cursive;
    padding: 0 1.5em;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: .6s;
    transform-style: preserve-3d;
    width: 6em;
}
.princ a:after {
    background-color: #425470;
    color: inherit;
    content: attr(data-title);
    height: 100%;
    left: 0;
    line-height: 3;
    position: absolute;
    top: 100%;
    transform: rotateX(-90deg);
    transform-origin: 0 0;
    width: 100%;
}

.princ li:nth-child(-n+2) a:before {
    transform: rotateY(90deg) translateZ(3em);
}
.princ li:nth-child(n+3) a:before {
    left: 0;
    transform: rotateY(90deg);
}
.princ li:hover a {
    transform: rotateX(90deg) translateY(-1.5em) translateZ(1.5em);
}
#salir{
  float: right;
  color: white;
}
#perfil{
  float: right;
  color: white;
}
a{
color:black;
  text-decoration: none;
}

